@media screen {
    #tab {
        font-family: verdana, arial, sans-serif;
    }
}

@media print {
    #tab {
        font-family: georgia, times, serif;
        margin: auto;
    }
}

@media screen, print {
    #tab {
        font-size: 30pt;
    }
}
